
<head>
        <link rel="icon" href="/images/icon.png">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
    <div class="pri_nav container" id="pri_nav">
        <div class="nav_content row">
            <div class="logo_container col-3 ">
                <a href = "/"><img src='/images/pcbudgelogo/dark_logo.png' class="logo"/></a>
            </div>
            <div class="col-5">  
                <div class="searchbar_container">
                <input  autocomplete="off" id="searchinput"  class="searchinput" style="margin-left: 1rem;" placeholder="Search" >
                <i id="search_but" class="searchout" style=''>
                <img style="width:1rem;"  src="/logos/search.png"> </i> 
                </div>    
                <ul id="srch_recon">
                </ul>
            </div>
            <div class="col-4">
                <div class="primary_extras">
                <div id = 'commparison_but' class="compare_but_container">
                     <svg id='compare_ping' height="40" width="40" style="position:absolute;right:-10;top:10">
                    <circle cx="10" cy="10" r="8" stroke="rgb(125, 214, 255)" fill="rgb(125, 214, 255)">1</circle>    
                    </svg>
               <a><img href='http://localhost:3001/compare' id ='commparison_logo' src='/logos/comparison.svg'/>
               
               </a>
               </div>
                </div>
            </div>
        </div>
    </div>
        <script src="/javascript/navbar.js"></script>

</body>

