
<link rel="stylesheet" type="text/css" href="/css/second_navbar.css">
     
<body>
    <div id="sec_nav">
        <ul id="ulpar">
           <li id="filter_button"> <input type="checkbox" id="filter_check" onchange="filter_toggle(this.id)">
            <label for="filter_check">Filter</label></li>
        </ul>
    </div>
</body>

</html>
