<div class='specification container-fluid p-3 no-padding'>
                        <div class='row '>
                            <div class='col-11 spec_header'>
                                <h1>
                                    Specification
                                </h1>
                            </div>
                        </div>
                        <div class='row parent_container'>
                           <div  class='col-md-6 col-sm-12'>
                                <div class='row '>
                                    <div class='col-12  sub_spec c0'>
                                       
                                </div>
                            </div></div>
                            <div  class='col-md-6 col-sm-12'>
                                <div class='row'>
                                    <div class='col-12  sub_spec c1'>
                                        
                                </div>
                            </div>
                            </div> 
                        </div>
                </div>