<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=" initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Document</title>
</head>
<body>

<script>/*
    var r = document.querySelector(':root');
    document.getElementById("center").addEventListener("click",()=>{
         r.style.setProperty('--c3', '#dfc900');
          r.style.setProperty('--active', 'rgb(0, 0, 0) 0px 0px 10px 5px;');
          if(document.querySelector(".light").classList.contains("active"))
          {
              document.querySelector(".light").classList.remove("active");
              document.querySelector(".center").classList.add("active");
          }      

    }) ;  
    document.getElementById("light").addEventListener("click",()=>{
        console.log("light");
         r.style.setProperty('--c3', '#40acff');
          r.style.setProperty('--active', 'rgb(0, 0, 0) 0px 0px 10px 5px;');
          if(document.querySelector(".center").classList.contains("active")){
            document.querySelector(".light").classList.add("active");
             document.querySelector(".center").classList.remove("active");
          }

    });
    */

</script>

</body>
</html>