<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="\css\portfolio.css">

    <title>Document</title> 
</head>
<body>
  
    <div class='container-fluid p-0'>
        <nav class="col-12 row">
            <div class='name col-md-2'>
                Kedar Shelar
            </div>
            <div class='nav-ul col-md-5 align-self-end'>
            <ul>
                <li>Project</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
            </div>
        </nav>
  </div>
</body>
</html>