
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: white !important;
		}

		.user_card {
			height: 30rem;
			width: 25rem;
			margin-top: -4rem;
			margin-bottom: auto;
			background:white;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
            top:1rem;
			position: absolute;
			height: 10rem;
			width: 10rem;			
            padding-bottom: 2rem;
			text-align: center;
            margin-right:2rem;
		}
		.brand_logo {
			height: 6rem;
			width: 12rem;
		}
		.form_container {
			margin-top: 7em;
		}
.input-group{
    width:20rem;
    
}
.login_container{
    align-content:center;
    margin-left: 5rem;
    width:10rem;
}
.input-group{
    border: 0.1rem solid black;
    border-radius:0.1rem;
}
		.login_btn {
			width: 100%;
			background: #002e6b !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}
.label{
    padding-bottom: 0.1rem;
}