<!DOCTYPE html>
<html lang="en">
<head>
            <link rel="icon" href="/images/icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=" initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4543680276633818"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/google_ad.css">
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <title></title>
</head>
<body >
    <div id="navbar">
    {{>navbar}}</div>
    <div id="secnavbar">
        {{>second_navbar}}
     </div>
        <div id="{{prod_uid}}" name="{{product_type}}" class="uid" style="visibility:hidden;"> </div>
            <div class = " detail_container container-fluid no-padding p-0">
            <div class="row prod_body">
                <div  class="col-lg-12">
            <div class="container-fluid no-padding prod_all">
                <div class="row  product_name">
                    <div class="col-12 ">
                        <h1 id="prod_name"></h1>
                    </div>
                </div>
                <div id="image_detail" class="row image_detail">
                    <div class="col-lg-6 col-md-6 detail">
                        <table class="table">
                        <tr >
                        <td class="label"><label style="">Brand</label></td>
                         <td class="info" id ="brand"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Family</label></td>
                         <td class="info" id ="family">></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Collection</label></td>
                         <td class="info" id ="collection"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Platform</label></td>
                         <td class="info" id ="platform"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Launch Date</label></td>
                         <td class="info" id ="launch_date"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">CMOS</label></td>
                         <td class="info" id ="CMOS"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Core</label></td>
                         <td class="info" id ="cores"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Thread</label></td>
                         <td class="info" id ="thread"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Base Frequency(GHz)</label></td>
                         <td class="info" id ="base_frequency"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Max Frequency(GHz)</label></td>
                         <td class="info"  id ="max_frequency"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Cache</label></td>
                         <td class="info" id ="cache">></td>
                        </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-6 detail">
                        <table class="table">
                        <tr>
                        <td class="label"><label style="">Max Memory</label></td>
                         <td class="info" id ="max_memory"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Memory_type</label></td>
                         <td class="info" id ="memory_type"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Memory Channel</label></td>
                         <td class="info" id ="memory_channel"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">PCI-E version</label></td>
                         <td class="info" id ="pci_version"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">PCI Lanes</label></td>
                         <td class="info" id ="pci_lanes"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Socket</label></td>
                         <td class="info"  id ="socket"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Max Temperature</label></td>
                         <td class="info" id ="max_temperature"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Graphic Frequency</label></td>
                         <td class="info" id ="graphic_frequency"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">PCI Configuration</label></td>
                         <td class="info" id ="pci_configuration"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">TDP(W)</label></td>
                         <td class="info" id ="tdp"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">Memory Speed</label></td>
                         <td class="info" id ="memory_spped"></td>
                        </tr>
                        <tr>
                        <td class="label"><label style="">GPU cores</label></td>
                         <td class="info" id ="gpu_core"></td>
                        </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-6 col-md-6 comp" >
                    <div class="comp_name"><h1>Compatible Motherboard</h1></div>
                  
                    <div class=" compatible comp_scroll" id="compatible_motherboard">
                <input type="text" class="myInput" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                </div>
           
                </div>
                </div>
                <div class="row">
                    {{>spec_single}}
                    </div>
                <div class="row more_details">
                    <div id="product_page" class="col-md-4 link_button">
                       <h1 style="width: 100%;"> More Details</h1>
                    </div>
                </div>
                </div>
                </div>
            </div>
            
    </div>
    <div id="footer">
    {{>footer}}</div>
        <script src="/javascript/single_product/common_single.js"></script>

    <script src="/javascript/single_product/processor_single.js"></script>
</body>
</html>