<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.1/lottie.min.js" integrity="sha512-V1YyTKZJrzJNhcKthpNAaohFXBnu5K9j7Qiz6gv1knFuf13TW/3vpgVVhJu9fvbdW8lb5J6czIhD4fWK2iHKXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/javascript/multi_range_slider.js"></script>
    <meta name="viewport" content=" initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/product_list.css">
         <link rel="stylesheet" type="text/css" href="/css/common_list.css">

    <title>list-of-Ram</title>
</head>
<body>
    <div id="navbar">
        {{>navbar}}
    </div>
     <div id="secnavbar">
        {{>second_navbar}}
     </div>
    <div id="page_loader">
        <div class = 'bm_container'>
        <div id='bm'></div>
        </div>
    </div>
    <div id="product_type" style="display:None;">{{product_type}}</div>
    <div class="container">       
        <div class="side_content row">
            <div style="position:fixed;right:0;height:100vh;z-index:15;margin-top:25rem;"id="color_control">
                {{>theme_control}}
            </div>
            <div class="col-2 filter" id="filter">
                 {{#ifeq product_type "cases"}}
                    <div class="col-2 filter-attr sa_scroll" id ="filter_attr">
                        
                        <div class="attr">
                            <label for="Brand">
                                Brand
                            </label>
                            <select  onchange="filterA(this.id)" class="dp sa_scroll" name="brand"  id="brand-dp">
                                <option selected="selected">---all---</option>
                            </select>
                        </div>
                        
                        <div class="attr" >
                            <label >Width (mm)</label>
                            <br>
                            <label  style="font-size: 1rem" id="something0">Loading...</label>
                            <label  style="font-size: 1rem;float:right"  id="something20"></label>
                            <div style= "width: 100%" class="middle" >
                                <div style= "width: 100%"class="multi-slider" min="0" max="445" id="width-range" >
                                    <div class="slider" id="slider0"></div>
                                </div>
                            </div>
                        </div>
        

                        <div class="attr" >
                            <label >Height (mm)</label>
                            <br>
                            <label style="font-size: 1rem" id="something1">Loading...</label>
                            <label style="font-size: 1rem;float:right"  id="something21"></label>
                            <div style= "width: 100%" class="middle">
                                <div style= "width: 100%"class="multi-slider" min="0" max="714" id="height-range" >
                                    <div class="slider" id="slider1"></div>
                                </div>
                            </div>
                        </div>


                        <div class="attr">
                             <label >Depth (mm)</label>
                            <br>
                            <label style="font-size: 1rem" id="something2">Loading...</label>
                            <label style="font-size: 1rem;float:right"  id="something22"></label>
                            <div style= "width: 100%" class="middle">
                                <div style= "width: 100%"class="multi-slider" min="0" max="702" id="depth-range" >
                                    <div class="slider" id="slider2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="attr ">
                             <label >Expansion Slots</label>
                            <br>
                            <label style="font-size: 1rem" id="something3">Loading...</label>
                            <label style="font-size: 1rem;float:right"  id="something23"></label>
                            <div style= "width: 100%" class="middle">
                                <div style= "width: 100%"class="multi-slider" min="0" max="11" id="es-range" >
                                    <div class="slider" id="slider3"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                 {{/ifeq}}
            </div>
            <div class="col-10 content" id="content">
                <div style="text-align: left;margin-top:9rem;margin-left:2rem;">
                <label style="color:white;font-size:1rem;opacity:0.5;" id="product_count"></label>
            </div>
    <div class="prod_show grid_layout">     
    </div>
            </div>
        </div>
    </div>
    
    <div id="footer" style="z-index: 99 ;">
        {{>footer}}
    </div>
        <script src="/javascript/common.js"></script>
    <script src="/javascript/list_product/combined.js"></script>
    <script src="/javascript/list_product/product_list.js"></script>
</body>
</html>