<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.1/lottie.min.js" integrity="sha512-V1YyTKZJrzJNhcKthpNAaohFXBnu5K9j7Qiz6gv1knFuf13TW/3vpgVVhJu9fvbdW8lb5J6czIhD4fWK2iHKXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/multi_range_slider.js"></script>
    <meta name="viewport" content=" initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/product_list.css">
     <link rel="stylesheet" type="text/css" href="/css/common_list.css">

    <title>PCbudge-processors</title>
</head>
<body>
    <div id="navbar">
        {{>navbar}}
    </div>
     <div id="secnavbar">
        {{>second_navbar}}
     </div>
    <div id="page_loader">
        <div class = 'bm_container'>
        <div id='bm'></div>
        </div>
    </div>
    <div id="product_type" style="display:None;">{{product_type}}</div>
    <div class="container">       
        <div class="side_content row">
            <div style="position:fixed;right:0;height:100vh;z-index:15;margin-top:25rem;"id="color_control">
                {{>theme_control}}
            </div>
            <div class="col-2 filter" id="filter">
                {{#ifeq product_type "processor"}}
                    <div class="col-2 filter-attr sa_scroll" id ="filter_attr">
                        
                        <div class="attr">
                            <label for="Brand">
                                Brand
                            </label>
                            <select  onchange="filterA(this.id)" class="dp sa_scroll" name="brand"  id="brand-dp">
                                <option selected="selected">---all---</option>
                            </select>
                        </div>
                        
                            <hr style="width:90%;border-top:0.1rem solid black;" class="rounded">

                        <div class="attr">
                            <label for="family">
                               Processor Family
                            </label>
                            <select  onchange="filterA(this.id)" class="dp sa_scroll" name="family"  id="family-dp">
                                <option selected="selected">---all---</option>
                            </select>
                        </div>
                        <label style="text-align:center;font-size: 0.9rem;width:100%;">or</label>

                        <div class="attr">
                             <label style="font-size: 0.9rem;"for="collection">Collection</label>
                             <select  onchange="filterA(this.id)" class="dp sa_scroll" name="collection"  id="collection-dp">
                                 <option selected="selected">---all---</option>
                             </select>
                        </div>
                        <hr style="width:90%;border-top:0.1rem solid black;" class="rounded">

                        <div class="attr">
                            <label for="platfor">Platform</label>
                            <select onchange="filterA(this.id)" class="dp sa_scroll" name="platform"  id="platform-dp">
                                <option selected="selected">---all---</option>
                            </select>
                         </div>

                        <div class="attr" >
                            <label >Cores</label>
                            <br>
                            <label style="font-size: 1rem" id="something0">something</label>
                            <label  style="font-size: 1rem;float:right"  id="something20">something</label>
                            <div style= "width: 100%" class="middle" >
                                <div style= "width: 100%"class="multi-slider" min="1" max="64" id="cores-range" >
                                    <div class="slider" id="slider0"></div>
                                </div>
                            </div>
                        </div>

                        <div class="attr" >
                            <label>Threads</label>
                            <br>
                            <label style="font-size: 1rem" id="something1">something</label>
                            <label style="font-size: 1rem;float:right"  id="something21">something</label>
                            <div style= "width: 100%" class="middle">
                                <div style= "width: 100%"class="multi-slider" min="1" max="128" id="thread-range" >
                                    <div class="slider" id="slider1"></div>
                                </div>
                            </div>
                        </div>

                        <div class="attr" >
                            <label >Base Frequecy(GHz)</label>
                            <br>
                            <label style="font-size: 1rem" id="something2">something</label>
                            <label style="font-size: 1rem;float:right"  id="something22">something</label>
                            <div style= "width: 100%" class="middle">
                                <div style= "width: 100%"class="multi-slider" min="0.1" max="5.1" id="base_frequency-range">
                                    <div class="slider" id="slider2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="attr" >
                            <label >Max Frequecy(GHz)</label>
                            <br>
                            <label style="font-size: 1rem" id="something3">something</label>
                            <label style="font-size: 1rem;float:right"  id="something23">something</label>
                            <div style= "width: 100%" class="middle">
                                <div style= "width: 100%"class="multi-slider" min="0.1" max="6.1" id="max_frequency-range">
                                    <div class="slider" id="slider3"></div>
                                </div>
                            </div>
                        </div>

                        <div class="attr" >
                            <label >Cache</label>
                            <br>
                            <label style="font-size: 1rem" id="something4">something</label>
                            <label style="font-size: 1rem;float:right"  id="something24">something</label>
                            <div style= "width: 100%" class="middle">
                                <div style= "width: 100%"class="multi-slider" min="1" max="256" id="cache-range">
                                    <div class="slider" id="slider4"></div>
                                </div>
                            </div>
                        </div>


                        <div class="attr" >
                            <label >Memory Channel</label>
                            <br>
                            <label style="font-size: 1rem" id="something5">something</label>
                            <label style="font-size: 1rem;float:right"  id="something25">something</label>
                            <div style= "width: 100%" class="middle">
                                <div style= "width: 100%"class="multi-slider" min="1" max="12" id="memory_channel-range">
                                    <div class="slider" id="slider5"></div>
                                </div>
                            </div>
                        </div>

                        <div class="attr" >
                            <label >Max Temperature(°C)</label>
                            <br>
                            <label style="font-size: 1rem" id="something6">something</label>
                            <label style="font-size: 1rem;float:right"  id="something26">something</label>
                            <div style= "width: 100%" class="middle">
                                <div style= "width: 100%"class="multi-slider" min="57" max="105" id="max_temperature-range">
                                    <div class="slider" id="slider6"></div>
                                </div>
                            </div>
                        </div>

                        <div class="attr" >
                            <label >TDP(W)</label>
                            <br>
                            <label style="font-size: 1rem" id="something7">something</label>
                            <label style="font-size: 1rem;float:right"  id="something27">something</label>
                            <div style= "width: 100%" class="middle">
                                <div style= "width: 100%"class="multi-slider" min="1" max="400" id="tdp-range">
                                    <div class="slider" id="slider7"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="attr">
                            <label for="memory_type">Memory Type</label>
                            <select onchange="filterA(this.id)" class="dp sa_scroll" name="memory_type"  id="memory_type-dp">
                                <option selected="selected">---all---</option>
                                <option>DDR1</option>
                                <option>DDR2</option>
                                <option>DDR3</option>
                                <option>DDR4</option>
                                <option>DDR5</option>

                            </select>
                        </div>

                        <div class="attr las_filter">
                            <label for="memory_type">PCI version</label>
                            <select onchange="filterA(this.id)" class="dp sa_scroll" name="pci_version"  id="pci_version-dpin">
                                <option selected="selected">---all---</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    <!--
                        <div class="attr">
                            <label for="mb_size">Motherboard size</label>
                            <select onchange="filterA(this.id)" class="dp sa_scroll" name="mb_size"  id="mb_size-dp">
                                <option selected="selected">---all---</option>
                            </select>
                        </div>

                        <div class="attr">
                            <label for="bluetooth">Bluetooth</label>
                            <select onchange="filterA(this.id)" class="dp sa_scroll" name="bluetooth"  id="bluetooth-dp">
                                <option selected="selected">---all---</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                        <div class="attr">
                            <label for="wifi">WI-FI</label>
                            <select onchange="filterA(this.id)" class="dp sa_scroll" name="wifi"  id="wifi-dp">
                                <option selected="selected">---all---</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>-->

                    </div>
                 {{/ifeq}}
            </div>
            <div class="col-10 content" id="content">
                <div style="text-align: left;margin-top:9rem;margin-left:2rem;">
                <label style="color:white;font-size:1rem;opacity:0.5;" id="product_count"></label>
            </div>
    <div class="prod_show grid_layout">     
    </div>
            </div>
        </div>
    </div>
    
    <div id="footer" style="z-index: 99 ;">
        {{>footer}}
    </div>
        <script src="/javascript/common.js"></script>
                        <script src="/javascript/util.js"></script>

            <script src="/javascript/list_product/combined.js"></script>

    <script src="/javascript/list_product/product_list.js"></script>
</body>
</html>