<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="C:\xampp\htdocs\PCBUDGE\public\css\product_list.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="C:\xampp\htdocs\PCBUDGE\public\javascript\multi_range_slider.js"></script>

    <title>Document</title>
</head>
<body style="background-color: rgb(189, 189, 189);">
        <div style= "width: 100%" class="attr">
            <label id="something0">something</label>
            <label id="2">---</label>
            <label id="something20">something</label>
            <div style= "width: 100%" class="middle">
                <div style= "width: 100%"class="multi-slider" min="1" max="256">
                    <div class="slider" id="slider0"></div>
                </div>
            </div>
    </div>       
        <div style= "width: 100%" class="attr">
            <label id="something1">something</label>
    <label id="2">---</label>
    <label id="something21">something</label>

    <div style= "width: 100%" class="middle">
                <div style= "width: 100%"class="multi-slider" min="0" max="100">
                    <div class="slider" id = "slider1"></div>
                </div>
            </div></div>
        <div style= "width: 100%" class="attr">
                <label id="something2">something</label>
        <label id="2">---</label>
        <label id="something22">something</label>
    
        <div style= "width: 100%" class="middle">
                    <div style= "width: 100%"class="multi-slider" min="1" max="4">
                        <div class="slider" id = "slider2"></div>
                    </div>
            </div></div>
</body>
</html>