<!DOCUMENT html>
<html lang="en">
<head>
    <meta charset="utf=8">
    <meta name="viewport" content="width=width-device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="navbar.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <img class="logo" src = "pcbudge logo/logo annim_00463.png" />
         <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <ul>
            <li><a href="#">Blogs</a></li>
            <li><a href="signin.html">Login</a></li>
            <li><a href="signup.html">Register</a></li>
        </ul>
    </nav>
    
</body>

</html>
